# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / Frontend Build
/node_modules
/dist
/dist-ssr
*.local

# Tauri Build
/src-tauri/target

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python - Global Caches (Keep these!)
**/__pycache__/
*.py[cod]
*$py.class
*.so

# Project specific ignores (Root only to avoid blocking site-packages)
/build/
/env/
/venv/
/.Python
/sdist/
/develop-eggs/
/eggs/
/.eggs/
/parts/
/var/
/wheels/
/*.egg-info/
/.installed.cfg
/*.egg

